
/*-------------------------------------- Fonts Starts -------------------------------------*/
$font-type-1: "DM Sans", sans-serif;
$font-type-2: 'Roxborough CF';
$font-type-special: 'Quentin';
/*--------------------------------------- Fonts Ends --------------------------------------*/


/*------------------------------------- Colors Starts -------------------------------------*/
$primary-color: #42382D;
$primary-color-dark: #241d15;
$secondary-color: #7F5A41;

$black-color : #141414;
$black-color-light: #959089;
$white-color: #EDDCC5;
$white-color-light: #888177;

$border-color: #EDDCC5;
$border-color-dark: #87827C;
$border-color-brown: #cfbda533;
$border-color-brown-dark: #42382D;

$background-color: #42382D;
$background-color-black: #090909;
$background-color-black-dark: #141414;
$background-color-cream: #FAF1E4;
$background-color-cream-dark: #EDDCC5;



$image-background: #42382e;

$danger-color: #e74c3c;
/*-------------------------------------- Colors Ends --------------------------------------*/
