@import "../components/fonts_and_colors";

:root{
  --cu-success: #5bd193;
}
.common-chart-container{
  .stats-container{
    margin-bottom: 15px;
    h2{
      font-family: $font-type-3;
      font-weight: bold;
      color: $black-color;
    }
    p{
      color: #b5b5c3;
    }
  }
  .chart-container{
    &.h-1{
      height: 280px;
    }
    &.h-2{
      height: 301px;
    }
  }

}


.apexcharts-gridline{
  stroke: $border-color-light;
  stroke-dasharray: 4;
  stroke-linecap: butt;
}